<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD DATA</title>
</head>
<body>
    <form action="/input" method="POST">
        <input type="number" name="nis" placeholder="nis"><br>
        <input type="text" name="nama" placeholder="nama"><br>
        <input type="number" name="mat" placeholder="mat"><br>
        <input type="number" name="bindo" placeholder="bindo"><br>
        <input type="number" name="big" placeholder="big"><br>
        <input type="number" name="pjok" placeholder="pjok"><br>
        <input type="number" name="ipas" placeholder="ipas"><br>
        <input type="number" name="rpl" placeholder="rpl"><br>
        <input type="submit" value="add data">
    </form>
    <a href="/">Back</a>
</body>
</html>