<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <label>Username</label><br>
        <input name="username" placeholder="Username" type="text"><br>
        <td></td><br>
        <label>Password</label><br>
        <input name="password" placeholder="Password" type="text"><br>
        <td></td><br>
        <input type="submit" value="login">
    </form>
</body>
</html>