<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        <td></td><br>
        <label>Username</label><br>
        <input name="username" placeholder="Username" type="text"><br>
        <td></td><br>
        <label>Name</label><br>
        <input name="name" placeholder="Name" type="text"><br>
        <td></td><br>
        <label>password</label><br>
        <input name="password" placeholder="Password" type="text"><br>
        <td></td><br>
        <label>Repeat Password</label><br>
        <input name="rpassword" placeholder="Repeat Password" type="text"><br>
        <td></td><br>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Kirim Pesan</button>
    </form>
</body>
</html>